.details-container{
  background-color: white!important;
  color: black!important;
}
.details-container img{
border: 1px solid black!important;
border-radius: 5px!important;
margin: 10px!important;
padding: 0!important;
}
.details-container h4{
  padding:  10px !important;
}
.details-container .btn{
  margin: 10px!important;
}
