.details-container{
  background-color: white;
  color: black;
}
.details-container img{

border-radius: 5px!important;
margin: 10px!important;
padding: 0!important;
}
.details-container h4{
  padding:  10px !important;
}


td{
  border: solid 1px gray!important;
}
.details-container p{
  margin: 10px !important;
}
.btn{
  padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 0.8rem!important;
    margin: 0px!important;
  }
  table{
    margin-bottom: 20px!important;
      margin-top: 20px!important;
  }
